body {
    text-align: center;
    background-color:black;
    color:white;
}

div {
    color:white;
}

h3 {
    color:burlywood;
}
h2 {
    color:indianred;
    
}

a {
    color:white;
    font-size: 20px;
}

#img {
    color:beige;
    font-size: 15px;
}
h1 {
    color:crimson;
}
.btn {
    background-color: silver;
    
}